<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <P>REGISTRO</P>

    <div id="div-margin">
        <div class="separacion-input">
            <input type="text" name="email" placeholder="Nombres" required="" />
        </div>
        <div class="separacion-input">
            <input type="text" name="email" placeholder="Apellidos" required="" />
        </div>
        <div class="separacion-input">
            <input type="number" name="email" placeholder="fecha" required="" />
        </div>
        <div class="separacion-input">
            <input type="email" name="email" placeholder="Correo electronico" required="" />
        </div>
        <div class="separacion-input">
            <input type="password" name="email" placeholder="Contraseña Nueva" required="" />
        </div>
        <div class="separacion-input">
            <input type="password" name="email" placeholder="Repita la contraseña " required="" />
        </div>
        <button id="btn-ingresar">
            <a href="">
                Ingresar
            </a>
        </button>
    </div>
</body>        
    
</html>