<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css" integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body id="body-registro">
    <div class="conta">
        <div class="class_registro">
            <div id="borde_registro">
                <p id="p_registro">Registro</p>
                <form class="form_margin_registro">
                    <input type="text" name="name" placeholder="Nombres" required="" />
                </form>
                <form class="form_margin_registro">
                    <input type="text" name="email" placeholder="Apellidos" required="" />
                </form>
                <form class="form_margin_registro">
                    <input type="number" name="email" placeholder="Fecha" required="" />
                </form>
                <form class="form_margin_registro">
                    <input type="email" name="email" placeholder="Correo electronico" required="" />
                </form>
                <form class="form_margin_registro">
                    <input type="password" name="email" placeholder="Contraseña Nueva" required="" />
                </form>
                <form class="form_margin_registro">
                    <input type="password" name="email" placeholder="Repita la contraseña " required="" />
                </form>
                <button>Registrarme</button>                
            </div>
        </div>
    </div>
</body>        
    
</html>