<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Login y Registro</title>
    </head>
    <body id="body-login">
        <div class="container">
            <div class="class_login">
                <p>Ingresar</p>
                <form class="form_margin">
                    <input type="email" name="email" placeholder="Email" required="" />
                </form>
                <form class="form_margin">
                    <input type="password" name="pswd" placeholder="Password" required=""/>
                </form>
                <button class="btn-inicio-crearCuenta">Iniciar Sesion</button>
                <button class="btn-inicio-crearCuenta">Crear cuenta</button>                
            </div> 
        </div>
    </body>
</html>
